#login_form #loginbutton, .__wu ._539-.roundedBox .uiSearchInput .inputtext {
padding-top: 4px !important;
}

#pagelet_games_rhc, #pagelet_subscribed_events_list ._18b8 a i, .ego_column, .emoticons_off .emoticon, .topBorder {
display: none !important;
}

#admin_panel .uiHeaderTitle, #fbCalendarWrapper, #fbMessagesFlyout > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > h3:nth-child(1), #fbNotificationsFlyout > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > h3:nth-child(1), #fbProfileCover, #js_28, #leftCol .uiScrollableArea.fade .uiScrollableAreaWrap, #leftCol .uiScrollableArea.nofade .uiScrollableAreaWrap, #mentionsInput, #navAccount._4z6w .contextualHelp, #navAccount._4z6w .navigation, #navSearch .uiTypeahead, #pageLogo a:active, #pageLogo a:focus, #pageLogo a:hover, #pageNav #userNavigation, #pageNav .navLink:active, #pageNav .navLink:focus, #pageNav .navLink:hover, #rightCol ._5rzs .uiHeader.uiSideHeader, #tinymanNavWrapper .fbJewelFlyout .jewelHeader, #u_ad_2, .-cx-PUBLIC-timelineOneColMin__root .-cx-PRIVATE-fbTimelineExternalShareUnit__textWrapper, .-cx-PUBLIC-timelineOneColMin__root .timelineUnitContainer .UFIRow, .-cx-PUBLIC-timelineOneColMin__root .timelineUnitContainer .fbTimelineFeedbackActions, .UFICommentActions, .UFIReplyList, .UFIRow, ._1dsp._4- .clearfix, ._1dst, ._1f1f, ._1y2l .jewelContent a.messagesContent, ._1z0-, ._21r, ._25q1, ._2exj #userNavigation, ._2o49, ._33c, ._4-hz, ._4-u2, ._4d3w .fbPhotoSnowliftContainer .fbPhotosSnowliftFeedbackForm ._467y:after, ._4fby:hover, ._4k85, ._4kg._6-j > li:hover, ._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4lh .timelineUnitContainer .UFIContainer, ._4lh .timelineUnitContainer .UFIList, ._4lh .timelineUnitContainer .UFIRow, ._4lh .timelineUnitContainer .fbTimelineFeedbackActions, ._4lmi, ._4oes .toggle, ._4t2a, ._4ws, ._50d1, ._51mz.navigationGrid, ._51xa > ._4jy0:last-child, ._525w, ._53ii ._53ij, ._53ij, ._53ip ._53ij, ._552m, ._558b ._54ng, ._569t ._54nf, ._58gg .img, ._58gm ._52m-, ._5e4h ._5e2k, ._5e4h._5e2k, ._5k-a ._5iex, ._5n1j, ._5rzs .uiHeader, ._5vg-, ._5vgz, ._5vsj .UFIRow.UFIUnseenItem:after, ._5w-6, ._5w40.fbEventHeader.noCoverImage #fbProfileCover .coverImage:before, ._6b, ._6dh ._1dsl, ._6z- .uiScrollableArea, ._70l, ._7ll, ._7lo, ._bqf._2vp7, ._kj3, ._ksg, ._t, .adminPanelInsightsColumn > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > a:nth-child(1), .adminPanelLikesColumn ._5xyd, .adminPanelMessagesColumn > div:nth-child(1) > div:nth-child(1) > a:nth-child(1), .bottomborder, .composerTypeahead .wrap, .contextualHelp, .ego_unit + .ego_appended_units .ego_unit, .ego_unit + .ego_unit, .fbCalendar .fbCalendarHeader, .fbChatSidebar .fbChatSidebarBody, .fbChatSidebar .fbChatSidebarMessage, .fbChatSidebar .fbChatTypeahead .textInput, .fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .fbDockChatTabFlyout, .fbIndex .gradient, .fbJewel a.jewelButton:active, .fbJewel a.jewelButton:focus, .fbJewel a.jewelButton:hover, .fbMapCalloutMain, .fbNubButton, .fbNubFlyoutInner, .fbPhotoImageStage .fbPhotosPhotoButtons a, .fbPhotoSnowlift .pinnedUfi .UFIAddComment, .fbPhotoSnowlift .rhc, .fbPhotoSnowlift .stage, .fbPhotoSnowlift .stageWrapper, .fbReminders .fbRemindersStory:hover, .fbRemindersThickline, .fbTimelineCapsule .timelineUnitContainer, .fbTimelineContentHeader h3.uiHeaderTitle, .fbTimelineInlineSectionHeader h3.uiHeaderTitle, .fbTimelineScrubber, .fbTimelineStickyHeader .back, .fbTimelineUFI, .fbTimelineUnit, .fbxPhoto .fbPhotoContributor, .gradient .clearfix, .gradient .lfloat, .gradient .rfloat, .home_right_column #pagelet_rhc_ticker .fbFeedTicker .uiScrollableArea.fade .uiScrollableAreaWrap, .home_right_column #pagelet_rhc_ticker .fbFeedTicker .uiScrollableArea.nofade .uiScrollableAreaWrap, .hovercardButtonGroup ._4-rs, .notifNegativeBase .fbJewelFlyout .jewelFooter a, .notifNegativeBase .fbJewelFlyout .jewelHeader, .pop_content, .profilePicThumb .img, .promotedPost.editPost, .promotedPostContent, .promotedPostFlyoutFooter, .rhcFooterBorder, .selectedStoryIndicator, .shareRedesignContainer, .shareText, .sidebarMode #globalContainer ._5vgz.fixed_elem, .sidebarMode .fbRemindersThickline, .threadRow.unread, .timelineLayout, .timelineUnitContainer, .timelineUnitContainer .pageMostRecentPostList, .timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton, .uiContextualLayer ._70b, .uiContextualLayer ul, .uiGrid, .uiHeaderSection, .uiHeaderTop, .uiHeaderTopBorder, .uiLayerPage .uiOverlayContent, .uiLayerPageContent, .uiMentionsInput, .uiMenu, .uiOverlayContent, .uiSideNav .item:hover, .uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover, .uiSideNavCount, .uiStream .uiStreamHeader, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm, .uiStream .uiStreamHeader .uiStreamHeaderText, .uiToggleFlyout, .uiTooltipX div, .uiTypeaheadView ul, .wmMasterView .uiScrollableArea, div._3a0_ div._3a10, div._5abn:nth-child(2), div.fbChatSidebarDropdown .uiCloseButton, div.phm > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > a:nth-child(1), h3.uiHeaderTitle, tbody td ul ._4o-d:hover {
background-color: #000 !important;
text-shadow: 0 0 2px #000 !important;
}

body, html {
background-color: #000 !important;
}

.fbIndex .gradient {
background: linear-gradient(#000,#000) !important;
}

#pageNav #navAccount .navSubmenu:active, #pageNav #navAccount .navSubmenu:focus, #pageNav #navAccount .navSubmenu:hover, #pageNav #navAccount .selected label.navSubmenu, ._128p, ._12js a, ._1hin._1hio, ._1y2l .jewelContent li a:hover, ._1y2l li.jewelItemNew a.messagesContent, ._25q1, ._2vp6._2vp7, ._32jt .ego_action button, ._33c._4af, ._3nzk div#fbRequestsList_wrapper li:hover, ._42fu, ._42g-, ._42gx:focus, ._42gx:hover, ._44_u li._33c:hover, ._4af ._33e, ._4jy0, ._4ypb, ._54ng li:hover, ._59pe:focus, ._59pe:hover, ._5cag:hover, ._5e4h ._5e4k, ._5k47, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:active, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:focus, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover, ._5w0o, ._698 ._5qo4 ._5t4x a, ._6a .PageLikeButton, .__tw li.jewelItemNew, ._fwr ._fw_._fx0 a, ._kv, ._kv:hover, ._kx, .fbJewelFlyout li.jewelItemNew, .jewelContent .messagesContent:hover, .jewelItemNew a.messagesContent, .navSubmenu:hover, .notifNegativeBase #fbMessagesFlyout .jewelContent a.messagesContent:active, .notifNegativeBase #fbMessagesFlyout .jewelContent a.messagesContent:focus, .notifNegativeBase #fbMessagesFlyout .jewelContent a.messagesContent:hover, .notifNegativeBase #fbMessagesFlyout .jewelContent li.jewelItemNew a.messagesContent:active, .notifNegativeBase #fbMessagesFlyout .jewelContent li.jewelItemNew a.messagesContent:focus, .notifNegativeBase #fbMessagesFlyout .jewelContent li.jewelItemNew a.messagesContent:hover, .uiContextualLayer ._70b ._5dsl:hover, .uiContextualLayer ul li:hover, .uiLikePageButton button, .uiToggleFlyout li:hover, .uiTypeaheadView .search li:hover, div._5abn:nth-child(1), label.uiButtonConfirm {
background: #333 !important;
text-shadow: 0 0 2px #000 !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

._128k ._128o, ._128l ._128o, ._1mwp, ._4k85, ._kx, .tickerChildSelected {
background: #121212 !important;
}

#photos_snowlift, ._3-_8, ._4_8n, ._4d3w .snowliftOverlayBar, ._4fby, ._5n6s, .uiLayer {
background-color: rgba(0,0,0,.7) !important;
}

._4-of, .fbPhotoSnowliftContainer .stage, .fbxPhoto .fbPhotoImageStage .stageContainer {
background: #000 !important;
}

#admin_panel h2.uiHeaderTitle, #pagelet_timeline_medley_friends .FriendButton, ._12js._12js._12js ._4er2, ._25q1, ._2d11, ._2d12, ._2gsf, ._3j6, ._4d3w .rightButtons .fbPhotosPhotoActions .uiButton, ._4f7n:after, ._51_u:after, ._51mz, ._525w, ._5dro, ._5plv .uiSideNav .item:hover, ._5plv .uiSideNav .selectedItem .item, ._5q5b .fbNubFlyoutTitlebar, ._5t_y ._1dsl li:after, ._6z- .uiHeaderNav, .__0k._47xt .openToggler, ._hdd:after, ._yn1 ._394m a, ._z6j ._42fu, .app_center .uiSideNav .divider, .bottomBorder, .displayedTickerToggleWrapper .tickerLineToggle, .fbTimelineTopSectionBase .topSectionBottomBorder, .hasSmurfbar #blueBarHolder #blueBar:after, .sidebarMode .fbRemindersThickline, .uiDataTable th, .uiStream .uiStreamHeader {
background: 0 0 !important;
}

.uiSelectorButton.uiButton.uiButtonSuppressed.uiButtonNoText {
background-color: transparent !important;
}

._202.selected, ._352g, ._47__::before, ._4a0x ._5pd7, ._55bh:after, ._5h2p, ._5y5a ._5n15 ._5n1d::after, ._bjx, ._xu, a._tuq::before {
background: #555 !important;
}

._4b6:after, ._5vsj .UFIRow.UFIUnseenItem::after, ._a19:before, ._xu:hover {
background: #999 !important;
}

#contentCol, #event_button_bar .fbEventClassicButton, #event_button_bar .fbEventClassicButton a, #event_button_bar a, #fbRequestsFlyout ._6a, #fbRequestsList li:hover, #pageFooter table, #pagelet_bluebar #u_0_i, #pagelet_web_messenger ._51xa button, #timeline-medley ._4-rr a, ._12jp.small, ._1rs ._24g ._211 a, ._2w3 > ._30f ._6b, ._32jz.ego_unit, ._3cz button, ._43q9 ._4cg3, ._4kg._6-j > li:hover, ._4kg._703 > li ._6a, ._5dd8 a, ._5r5f, ._5vf h3.uiHeaderTitle, ._69l span, ._kj2 div, ._ksg, ._li, ._z6j, .ellipsis ul, .fbFeedTicker .tickerStoryHidden, .fbFeedTicker .tickerStoryHidden:hover, .fbIndexMobile, .fbTimelineLogStream div, .fbTimelineStarGridSeparator, .friendBrowserAuxAlignMiddle ._3-99, .friendBrowserUnit a, .ruResponseSectionContainer ._6a, .tickerDialogContent .textInput, .tickerDialogContent ul li:hover, .timelineLayout, .uiHeader h3, .uiHeaderTop, .uiProfileBlockContent ._6a, .uiToggleFlyout ._6a, span._52m- ._3spg {
background: 0 0 !important;
}

._1mib, ._1mib ._4h2m {
background-color: #222 !important;
background-image: none !important;
}

._1krc {
background: linear-gradient(to top,rgba(0,0,0,.82),transparent 40%) !important;
bottom: 44px !important;
border-radius: 0 !important;
left: 0 !important;
pointer-events: none !important;
position: absolute !important;
right: 0 !important;
}

body * {
border-color: transparent !important;
color: #888 !important;
background-color: transparent !important;
text-decoration: none !important;
}

#birthday_reminders_link strong, #js_40 > span:nth-child(1), ._2c44 ._2f6b span, .profileLink span, .uiTypeaheadView .bucketed .header .text, a, a span, a._gre div._7_v, a._gre div._9_v {
text-decoration: none !important;
color: #ccc !important;
text-shadow: 0 0 2px #000 !important;
transition: color .4s;
}

#birthday_reminders_link:hover strong, #js_40 > span:nth-child(1):hover, ._2c44 ._2f6b span:hover, ._58gh div._58gj, ._58gi span, ._5h6m, ._6lh ._6lp ._50hf, ._6lh ._6lp ._6lo, ._6lh ._6lp a, .ellipsis, .fwb, .profileLink span:hover, .uiTypeaheadView .bucketed .header .text:hover, a span:hover, a._gre:hover div._7_v, a._gre:hover div._9_v, a:hover {
text-decoration: none !important;
color: #fff !important;
transition: color .4s;
text-shadow: 0 0 1px #666 !important;
}

._2xh1, ._2xh2, ._4-i0, ._502f .rhcFooterWrap, ._502f .rhcFooterWrap a, ._5594, ._5em9, ._5w1r, html ._4jy0, html .gecko ._4jy0 {
text-shadow: none !important;
}

._4f7n, ._51_u, ._hdd, ._zpj, .slim #blueBar {
background: #000 !important;
box-shadow: 0 0 15px #000 !important;
border-bottom: 2px solid rgba(0,0,0,.7) !important;
text-shadow: 0 0 2px #000 !important;
}

._2s1x ._2s1y {
background: #000 !important;
}

._uaw {
width: 981px !important;
}

._262k ._uaw, ._5vb_ ._uaw {
width: 980px !important;
}

#pagelet_composer .uiTypeahead .innerWrap, #pagelet_timeline_main_column .uiTypeahead .innerWrap, #registration_container ._58mf .uiStickyPlaceholderInput .placeholder, #registration_container ._58mq select, .UFICommentContainer, ._2l5f > .uiSearchInput > span, ._2pt, ._3b .uiSearchInput, ._3i2n, ._416u ._56ji, ._4a_i, ._4dv-, ._50mz .fbNubFlyoutFooter textarea, ._5id1 textarea, .__wu ._539-.roundedBox .innerWrap, ._kj3 .uiSearchInput, ._u48, .eventsCreate .eventsWhat, .fbChatSidebar ._5q88.fbChatTypeahead .textInput, .innerWrap, .menu_login_container .inputtext, .profileApprovalRow .UFIAddComment .UFIAddCommentInput._1osb, html ._55r1, textarea._4xd9 {
border-bottom: 1px solid rgba(255,255,255,.18) !important;
border-radius: 3px !important;
box-shadow: inset 0 1px 5px 0 #000 !important;
border-top-color: #000 !important;
border-right-color: #111 !important;
border-left-color: #111 !important;
background-color: #141414 !important;
}

.__wu ._539-.roundedBox .uiSearchInput span {
border-bottom: 1px solid rgba(255,255,255,.18) !important;
margin-top: -1px !important;
}

#fbProfileCover, #mentionsInput, #navSearch .uiTypeahead, #u_ad_2, .-cx-PUBLIC-timelineOneColMin__root .timelineUnitContainer .UFIRow, .-cx-PUBLIC-timelineOneColMin__root .timelineUnitContainer .fbTimelineFeedbackActions, ._2n_z ._54nf, ._2o49, ._4-u2, ._44_u, ._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4mq3._4cft, ._4t2a, ._53ii ._53ij, ._53ij, ._53ip ._53ij, ._53vr.uiScrollableArea, ._54nf, ._552h._n4k, ._569t ._54nf, ._5vgz, ._6dh ._1dsl, ._kj3, ._t, .back, .composerTypeahead .wrap, .contextualHelp, .ego_unit + .ego_appended_units .ego_unit, .ego_unit + .ego_unit, .fbChatSidebar ._51x_, .fbDockChatTabFlyout, .fbRemindersThickline, .fbTimelineUFI, .fbTimelineUnit, .fbxPhoto .fbPhotoContributor, .pop_content, .rhcFooterBorder, .sidebarMode #globalContainer ._5vgz.fixed_elem, .sidebarMode .fbRemindersThickline, .tickerDialogContent, .timelineUnitContainer, .uiBoxOverlay, .uiContextualLayer ._70b, .uiHeaderTopBorder, .uiOverlayContent, .uiScrollableArea, .uiStream .uiStreamHeader, .uiToggleFlyout, .uiTooltipX .tooltipContent, .uiTypeaheadView, .uiTypeaheadView .bucketed ul, .uiTypeaheadView ul {
box-shadow: 0 0 4px 0 #000 !important;
text-shadow: 0 0 2px #000 !important;
}

#event_guest_list div, #event_invite div, #event_related_events div, #mentionsInput, #pagelet_bluebar #u_0_i, #rightCol .uiScrollableArea, ._1nc6 ._d97 span a, ._1nc7 ._5w1r span a, ._1t4w ._5pr2 ._4oes, ._1t4w ._5pr2.fbChatSidebar, ._2nj .uiScrollableArea, ._32jz.ego_unit, ._3nzp .uiScrollableArea, ._3v_l .uiScrollableArea, ._4lh ._1xw:hover ._1xz, ._4oes .toggle, ._50mz .fbNubFlyoutHeader span a, ._51mz .uiScrollableArea, ._53ii ._53ij .uiScrollableAreaWithShadow, ._585-, ._5ahz, ._5kjq div, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5q5b ._50mz .titlebar .button, ._5q5b ._50mz .titlebar .titlebarTextWrapper a, ._5r8e ._5r85 ._5r86, ._5r8e ._5r85 ._5r88 a, ._5vb_ ._5pr2 ._4oes, ._5vb_ ._5pr2.fbChatSidebar, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._5vb_ ._dcs, ._dcs, ._htj div, ._nws, ._xxu, .business_id .uiScrollableArea, .fbCalendar ._5pr2 ._4oes, .fbCalendar ._5pr2.fbChatSidebar, .fbChatSidebar .fbChatSidebarMessage, .fbChatSidebar .fbChatTypeahead .textInput, .fbNubButton, .fbTimelineComposerCapsule, .fbTimelineComposerUnit, .mtm ._4-u2, .timelineLayout ._5pr2 ._4oes, .timelineLayout ._5pr2.fbChatSidebar, .uiContextualLayerBelowLeft div, .uiHeader, div._4-i2 .uiScrollableArea, form .uiScrollableArea, html ._51tl:focus, html .gecko ._51tl:focus {
box-shadow: none !important;
text-shadow: 0 0 2px #000 !important;
}

#pageLogo a:active, #pageLogo a:focus, #pageLogo a:hover, #pageNav .navLink:active, #pageNav .navLink:focus, #pageNav .navLink:hover, ._42fu, ._42g-, ._42gx:focus, ._42gx:hover, .fbJewel a.jewelButton:active, .fbJewel a.jewelButton:focus, .fbJewel a.jewelButton:hover, .fbReminders .fbRemindersStory:hover, .selectedStoryIndicator, .uiMentionsInput, .uiSideNav .item:hover, .uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover, .uiSideNavCount, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm, .uiStream .uiStreamHeader .uiStreamHeaderText {
border-radius: 3px !important;
}

._1tn3, ._1tn3 ._4vui, ._50mz .emoticonsPanel, ._5kjq div, ._5otg::after, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover, .uiContextualLayerBelowLeft div {
border-color: transparent !important;
}

#admin_panel .uiHeaderSectionBorderLeft, #event_guest_list div, #event_invite div, #event_related_events div, #fbProfileCover .coverBorder, #rightCol ._5rzs._5v6d ._5v6e > .pagelet:first-child > div:first-child .uiHeader.uiSideHeader, #rightCol ._5v6e .pagelet:not(:empty) .uiHeader, .-cx-PUBLIC-timelineOneColMin__root .-cx-PRIVATE-fbTimelineExternalShareUnit__textWrapper, ._2yg .composerTypeahead, ._2yg .composerTypeahead .wrap, ._4kg > li, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:active, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5v3q ._47we, ._5vsj .UFIReplyList .UFIComponent.UFIFirstComponent:after, ._5vsj .UFIReplyList .UFIComponent.UFILastComponent:after, ._6-d #fbProfileCover .coverBorder, ._6-d #fbProfileCover .coverNoImage, ._6z- .uiHeaderNav, ._a19:before, .fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .fbFeedTicker .tickerStoryHidden, .fbFeedTicker .tickerStoryHidden:hover, .fbTimelineCapsule .timelineUnitContainer, .rhcFooterBorder, .shareRedesignBottomBorder, .shareRedesignRightBorder, .shareRedesignTopBorder, .uiHeader, .uiSearchInput, html ._mj._mj ._519b ._2wr {
border: none !important;
}

#fbProfileCover, #navSearch .uiTypeahead, #u_ad_2, .-cx-PUBLIC-timelineOneColMin__root .timelineUnitContainer .UFIRow, .-cx-PUBLIC-timelineOneColMin__root .timelineUnitContainer .fbTimelineFeedbackActions, ._1z0-, ._2n_z ._54nf, ._2o49, ._4-u2, ._44_u, ._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4lh .fbTimelineTwoColumn[data-type="r"], ._4t2a, ._53ii ._53ij, ._53ij, ._53ip ._53ij, ._569t ._54nf, ._599r, ._5vgz, ._6z- .uiScrollableArea, ._kj3, ._t, .back, .composerTypeahead .wrap, .contextualHelp, .ego_unit + .ego_appended_units .ego_unit, .ego_unit + .ego_unit, .fbDockChatTabFlyout, .fbPhotoSnowlift .rhc, .fbRemindersThickline, .fbTimelineUFI, .fbxPhoto .fbPhotoContributor, .pop_content, .rhcFooterBorder, .sidebarMode #globalContainer ._5vgz.fixed_elem, .sidebarMode .fbRemindersThickline, .tickerDialogContent, .uiBoxOverlay, .uiContextualLayer ._70b, .uiHeaderTopBorder, .uiInlineTokenizerView ul, .uiOverlayContent, .uiStream .uiStreamHeader, .uiToggleFlyout, .uiTooltipX .tooltipContent, .uiTypeaheadView, .uiTypeaheadView .bucketed ul, .uiTypeaheadView ul, .wmMasterView .uiScrollableArea {
border: 1px solid rgba(0,0,0,.7) !important;
border-top-color: rgba(255,255,255,.12) !important;
border-radius: 3px !important;
}

._5qtq::after {
border-bottom-color: #555 !important;
}

._50mz .fbNubFlyoutHeader ._1sk5, ._5r8e {
border-bottom: 1px solid #111 !important;
}

._53il, ._dcs, .fbTimelineUnit.fbTimelineTwoColumn .timelineUnitContainer.fbTimelineComposerUnit, .mtm ._4-u2 {
border: 1px solid transparent !important;
border-radius: 3px !important;
}

#rhc_col ._1spx, #rhc_col ._39xw, ._13ks, ._2kml, ._2lhm ._6m2, ._3z2, ._5vb_ ._dcs, ._dcs, .mtm ._4-u2, .mtm ._6m2 {
background-image: url(http://img15.hostingpics.net/pics/606548triangles.png) !important;
background-repeat: repeat !important;
background-color: rgba(0,0,0,.15) !important;
border: 1px solid #111 !important;
border-bottom: 1px solid rgba(255,255,255,.16) !important;
box-shadow: inset 0 0 3px 0 #111 !important;
}

.mtm ._6a a {
background: 0 0 !important;
}

._3d5b._-fk, html ._4lh ._2-d1 ._3rrn > a {
border-left-color: #666 !important;
}

._3d5b:hover, ._4lh ._2-d1 a:hover {
border-left-color: #444 !important;
}

._3d5b, html ._4lh ._2-d1 li a {
border-left-color: #282828 !important;
}

._14b9._620 .PageLikedButton {
border-color: #333 !important;
}

._32jz.ego_unit, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:active, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:focus, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive:active, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive:focus, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive:hover, ._htj div {
border: none !important;
}

._2ko1 ._18im, ._30v-, ._51i5 ._5l1x {
border-radius: 3px !important;
background: rgba(0,0,0,.7) !important;
border: 2px solid rgba(255,255,255,.9) !important;
}

._gx8 .img {
box-shadow: 0 0 2px #151515 !important;
}

._12-h span {
border: 1px dashed #333 !important;
}

._12-h:hover span, ._57et ._24mr, ._5cm0 ._2b8t {
border-color: #555 !important;
}

._3vsp {
border-color: #555 transparent transparent !important;
}

._57et > li:hover ._24ms, ._9qy {
background-color: #555 !important;
}

._57et > li:hover, ._9q_ {
background-color: #333 !important;
}

._5cm0 {
border-left: 1px solid #333 !important;
}

._3jjt:hover:after {
border: 2px solid #999 !important;
margin: -4px !important;
}

.PageLikeButton i.img, .UFICommentStickerIcon, .UFISeenCountIcon, ._1rs .emoticonsPanel .emoteTogglerImg, ._2c46, ._2mi7, ._2u7k i, ._2y9i, ._42fu .img, ._4fby i, ._4iab, ._4iae ._5xoz i, ._4w5k, ._559b, ._55pe i.img:not(.sx_489055), ._5pr2 ._3a-4, ._5pr2 ._5q87, ._5pr2.fbChatSidebar div._5qth ._5vmb, ._5q5b ._50mz .emoticonsPanel .emoteTogglerImg, ._5vsj .UFIReplyList .UFIPagerIcon, ._kz, ._l9, .ego_action i.img, .fbQuestionsPollAttachmentIcon, .gecko ._55sg > input + span::before, .sp_8u73feyRveE.sx_6ece9b, .sp_McTLU1GdJQJ.sx_898673, .sp_hjDCvEgCHdl.sx_3ff31d, .sp_qk8sNUxukfD._5vsj, .uiBoxWhite ._2cje ._5r2w, .uiLikePageButton ._3-8_.img, .uiStreamSecondaryTime .img, i._1c86, i.sp_7-NOiac_C2Y, img._5qla.img {
filter: grayscale(100%) invert(1) brightness(130%);
-webkit-filter: grayscale(100%) invert(1) brightness(130%);
}

#pagelet_composer form ul .img, #sideNav .img, .UFIBlingBoxTimelineLikeIcon, .UFIComment .UFICommentLikeIcon, .UFILikeIcon, .UFILikeLinkIcon, .UFIReplyList .UFIPagerIcon, .UFIShareIcon, ._10cu, ._1c85 img, ._1dsr, ._2xh1, ._2xh2, ._3-ma._2bnd, ._3-ma._2bne, ._33i.img, ._393v i, ._4-fs i, ._48-k.UFILinkBright::before, ._4jy0 .img, ._4ks > li i, ._4pd, ._51mz ._51m-:first-child ._8s, ._54_9._5y6x ._2eq6::before, ._55yq, ._56_f._5dz-, ._56_f._5dzz, ._5c6j i, ._5d9-._55yn, ._5plv .sideNavItem .imgWrap .img, ._5pmc i, ._6a i, ._6h1, ._6q0 ._5m-, ._jqw, ._kj3 i, .adminPanelContentFanAcq img, .ci_compact_icon i.img, .ci_compact_icon img, .fbIndexMobile i, .fbIndexMobile img, .fbPhotosRedesignNavIcon, .fbReminders .fbRemindersIcon, .fbTimelineUnit ._8r i, .fbTimelineUnit ._8r.img, .fbTimelineUnit ._zho .img, .hoverStar, .litestandClassicWelcomeBox.fbxWelcomeBoxSmall a i, .mvl img, .sp_843e1e.sx_18f9fe, .sp_843e1e.sx_999646, .sp_8XMKRORlC0c.sx_920821, .sp_B-zwz8Z2YD9.sx_bd6242, .sp_Bx2fFW7jJNa.sx_2e5b87, .sp_CyzWktPCcmJ.sx_1f43a9, .sp_I82JkHg4Jkj.sx_345974, .sp_KtyRa2CDjjd.sx_41c10e, .sp_XLMTaKDBtS1.sx_17ae2b, .sp_peJFOV3eQ-m, .sp_pyq3UfnPhz2.sx_34c674, .sp_qk8sNUxukfD, .stickyHeaderWrap form .img, .uiButtonDisabled .img, .uiCloseButton, .uiCloseButtonSmall, .uiIconText .img, .uiMorePagerLoader img, .uiTypeaheadView .search .simpleSearchSeeMoreRowRedesignIcon, div.AdvertiserHomePagelet ._khv.img, i._2_8a.img, i._4fx, i._5r87, img._2gea, img._3-94.img {
filter: grayscale(100%) invert(0) brightness(100%);
-webkit-filter: grayscale(100%) invert(0) brightness(100%);
}

hr {
height: 2px !important;
background: #000 !important;
border-bottom: 1px solid #282828 !important;
}

.topBorder {
border-top: 1px solid #282828 !important;
}

._6dh ._1dsl, ._70l, .uiButtonGroup, .uiDataTable th {
background: 0 0 !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

#fbTimelineHeadline .actionsDropdown .FriendButton, #fbTimelineHeadline .actionsDropdown button, .uiButtonGroup:hover {
background: linear-gradient(#000,#000) !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

._5h6h button, .fbNubButton, .fbNubButton:after, .fbNubButton:before {
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
}

._5h6h button, .fbNubButton {
background: linear-gradient(#222,#222) !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

.fbNubButton:after, .fbNubButton:before {
background-image: none !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
margin-top: 1px !important;
}

.fbNubButton:before {
border-top-left-radius: 3px !important;
}

.fbNubButton:after {
border-top-right-radius: 3px !important;
}

.rNubContainer ._50-v {
border: 1px solid rgba(0,0,0,.7) !important;
border-top-color: rgba(255,255,255,.12) !important;
box-shadow: 0 0 4px #000 !important;
border-top-left-radius: 3px !important;
border-top-right-radius: 3px !important;
}

html ._4jy0:focus, html .gecko ._4jy0:focus {
box-shadow: none !important;
outline: 0;
text-shadow: none !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

#fbTimelineHeadline .actionsDropdown .FriendRequestAdd {
border: 1px solid #000 !important;
box-shadow: 0 0 0 #000 !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

#all_search_results .PageLikeButton:hover, #fbPageDropDownActionsMenu:hover, #fbTimelineHeadline .actionsDropdown .FriendRequestAdd:hover, #login_form #loginbutton:hover, #pagelet_timeline_medley_friends ._4jy0:hover, #pages_actions_pagelet button:hover, #rhc_col ._1spx ._4jy3:hover, #rhc_col ._39xw ._4jy3:hover, #u_0_i:hover, .FriendRequestAdd.addButton._4jy3._517h:hover, ._14b9._620 .PageLikedButton:focus, ._14b9._620 .PageLikedButton:hover, ._2io_ a:hover, ._42ft:hover, ._58gm ._52m-:hover, ._6dh ._1dso li:last-child button:hover, ._gli ._4jy0:hover, .actionsDropdown a:hover, .composerAudienceWrapper a:hover, .fbIndexMobile .mobileButton:hover, .signupBanner .signup_btn:hover, .uiBoxOverlay .uiButton:hover, .uiComboInput .comboButton:hover, .uiLikePageButton button:hover, button:hover, html ._4jy0:hover, html .gecko ._4jy0:hover, label.uiButtonConfirm:hover {
box-shadow: inset 0 2px 4px 0 #000 !important;
background-color: #000 !important;
border-radius: 3px !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
border-color: #000 #222 #333 #000 !important;
}

#login_form #loginbutton, #u_0_i, .FriendButton, .PageLikeButton, ._14b9._620 .PageLikedButton, ._5v3q ._47we, ._gli ._4jy0, .fbxPhoto button {
background: #333 !important;
border-radius: 3px !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

#login_form #loginbutton {
padding-bottom: 3px !important;
}

#pages_actions_pagelet ._42ft {
height: 27px !important;
border: 1px solid #000 !important;
}

._2jq5._p, ._50__ {
height: 9px !important;
}

.__wu ._539-.roundedBox .uiSearchInput button {
background-color: #000 !important;
border: 1px solid #111 !important;
border-radius: 0 3px 3px 0 !important;
-webkit-transition: background .2s,box-shadow .4s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

.__wu .roundedBox .uiTypeahead .searchIcon {
background-position: -17px -237px !important;
}

.__wu ._539-.roundedBox .uiSearchInput button:hover {
background-color: #000 !important;
}

#all_search_results .PageLikeButton, #login_form #loginbutton, #rhc_col ._1spx ._4jy3, #rhc_col ._39xw ._4jy3, #u_0_i, .FriendButton button, ._19ab a, ._1dwg ._3vt_, ._1rs ._1ri, ._32jt ._5ymq button, ._4-lt .PageLikeButton, ._4jy0, ._522u button, ._538q ._4jy0, ._5ss8 ._18fs a, ._5t4x span button, ._698 ._5qo4 ._4jy3, ._8y9 .PageLikeButton, .mtm .PageLikeButton, .pop_content .uiButton, .signupBanner .signup_btn, .uiBoxOverlay .uiButton, .uiComboInput .comboButton, .uiHeaderTop .PageLikeButton, .uiLikePageButton button {
background: #333 !important;
border: 1px solid rgba(0,0,0,.8) !important;
border-radius: 3px !important;
box-shadow: 0 1px 2px #111,0 1px 0 #555 inset !important;
-webkit-transition: background .2s,box-shadow .2s,border-color .2s !important;
transition: background .2s,box-shadow .4s,border-color .2s !important;
transition-timing-function: linear !important;
}

._5rz0 {
box-shadow: none !important;
}

#all_search_results .FriendButton, #all_search_results a {
background: 0 0 !important;
}

._1z4y a.jewelButton, ._2jq5._p, ._3nzl a.jewelButton, ._3nzl.hasNew a.jewelButton, ._4xi2.east a.jewelButton, ._4xi2.west a.jewelButton, ._50__, ._59fb {
background-image: url(http://img11.hostingpics.net/pics/535800143909767127277f60b36o1.png) !important;
}

.tickerToggleWrapper.displayedTickerToggleWrapper.fbRemindersThickline.toggleWrapperWithoutMargin, .uiHeader.uiHeaderTopBorder.pbs._9_r.uiSideHeader {
border: none !important;
}

._4xi2.east a.jewelButton, ._4xi2.west a.jewelButton {
background-position: 0 71.2% !important;
}

._4xi2.east a.jewelButton:active, ._4xi2.east a.jewelButton:hover, ._4xi2.east.hasNew a.jewelButton, ._4xi2.east.openToggler a.jewelButton, ._4xi2.east.openToggler a.jewelButton:hover, ._4xi2.west a.jewelButton:active, ._4xi2.west a.jewelButton:hover, ._4xi2.west.hasNew a.jewelButton, ._4xi2.west.openToggler a.jewelButton, ._4xi2.west.openToggler a.jewelButton:hover {
background-position: 0 68.6% !important;
}

._59fb {
background-position: 91% 60.55% !important;
}

._59fc:hover ._59fb, .openToggler ._59fc ._59fb {
background-position: 91% 59.4% !important;
}

._1z4y a.jewelButton {
background-position: 0 42.3% !important;
}

._1z4y a.jewelButton:active, ._1z4y a.jewelButton:hover, ._1z4y.hasNew a.jewelButton, ._1z4y.openToggler a.jewelButton, ._1z4y.openToggler a.jewelButton:hover {
background-position: 0 39.6% !important;
}

._3nzl a.jewelButton {
background-position: 0 58.15% !important;
}

._3nzl a.jewelButton:active, ._3nzl a.jewelButton:focus, ._3nzl a.jewelButton:hover, ._3nzl.hasNew a.jewelButton, ._3nzl.openToggler a.jewelButton, ._3nzl.openToggler a.jewelButton:hover {
background-position: 0 55.5% !important;
}

._50__ {
background-position: 85% 64.2% !important;
margin-top: -2px !important;
}

._1xn5:focus ._50__, ._1xn5:hover ._50__ {
background-position: 100% 35.2% !important;
}

._2jq5._p {
background-position: -39px -428px !important;
width: 12px !important;
margin-top: 6px;
margin-right: 4px;
}

._5q5b ._50mz .fbNubFlyoutFooter::before, .beeperNub {
height: 0 !important;
}

._2jq5._p:hover {
background-position: -32px -796px !important;
}

._4n ._2wr {
background-image: url(http://img11.hostingpics.net/pics/221401LFKgZl6vD6nzps7be117dd.png) !important;
}

#facebook #contentArea ._26tg, #facebook .sideNavItem:hover ._26tg {
background-image: url(http://img11.hostingpics.net/pics/5129611462716729431465f3f94o.png) !important;
background-position: -61px -301px !important;
}

#facebook #contentArea ._26tg:hover, #facebook .sideNavItem ._26tg:focus, #facebook .sideNavItem ._26tg:hover, #facebook .sideNavItem .openToggler ._26tg {
background-image: url(http://img11.hostingpics.net/pics/5129611462716729431465f3f94o.png) !important;
background-position: -93px -301px !important;
}

._3cz ._5ugg, ._3z_5, ._5ugg {
background-color: #ed1c24 !important;
}

._kx ._l6 {
color: #ed1c24 !important;
}

.beeperNub {
background-image: none !important;
width: 0 !important;
border-color: transparent transparent #333 !important;
border-style: solid !important;
border-width: 0 10px 10px !important;
}

.FriendRequestAdd.addButton._4jy3._517h ._3-8_.img {
visibility: collapse !important;
}

.FriendRequestAdd.addButton._4jy3._517h {
background-image: url(http://img11.hostingpics.net/pics/6282841505122750086c94e9965o.png) !important;
background-repeat: no-repeat !important;
background-position: 5px 5px !important;
}

._1rh ._1s0, ._1s0 {
background-image: url(http://img11.hostingpics.net/pics/186101k3Q9jS5ZBut.png) !important;
}

.profileApprovalRow .UFICommentStickerIcon {
background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/yk/r/n2vOQDcvBJm.png) !important;
background-position: -6px -449px !important;
}

._5t_y ._1dsw ._1dsr {
background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/8NAGQbMcQMv.png) !important;
background-position: 0 0 !important;
}

._1_0d {
background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/P7f6wrc6XGN.png) !important;
background-position: -2px -134px !important;
}

.fbTimelineCapsule, .fbTimelineTimePeriod, .sp_dwisfx.sx_5bfe7b {
background: 0 0 !important;
}

.sp_1t3tsb, .sp_52s0ck, .spinePointer {
opacity: 0 !important;
}

._517h, ._517h._42fr._42fs, ._517h._42fr:active, ._59pe:focus, ._59pe:hover, .uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
background: #000 !important;
box-shadow: none !important;
border-color: transparent !important;
}

._5h12.uiSelector > .uiToggle:after, ._5h12 > span:after, ._5vx4._5vx6 ._5vwy ._13xf {
background: #666 !important;
border-top: 2px solid #666 !important;
}

._1ej0 ._nd_ ._s1-, ._1nc6 ._5w1r, ._1nc7 ._5w1r, ._5i_d, ._hh7 {
background-color: transparent !important;
border: 1px solid #333 !important;
text-shadow: 0 0 2px #000 !important;
box-shadow: none !important;
}

#admin_panel #AdminTip, .adminPanelMessagesColumn {
margin-top: -1px !important;
}

._1nc6 ._5w1r, ._5i_d, ._hh7 {
background-image: linear-gradient(#353535,#353535) !important;
}

._1ej0 ._nd_ ._s1-, ._1nc7 ._5w1r {
background-image: linear-gradient(#505050,#505050) !important;
}

._1nc7 ._5w1r ._d97 ._5yl5 span, ._3oh-, ._3oh- span {
color: #ccc !important;
}

._49or .__6j .__6k, ._49or .__6j .__6l {
color: #000 !important;
text-shadow: none !important;
}

._5w1r ._d97 span a {
font-weight: 700 !important;
text-shadow: none !important;
}

._49or .__6j .__6m {
color: #fff !important;
}

._1nc6 ._3okg::after, ._1nc7 ._3okg::after {
background-image: url(http://img11.hostingpics.net/pics/2556241631318191494a5feba27o.png) !important;
background-repeat: no-repeat;
background-size: auto auto;
background-position: -303px -139px !important;
background-color: #282828 !important;
}

._1nc6 ._5w1r:after, ._1nc6 ._5w1r:before {
margin-left: 1px !important;
width: 7px !important;
}

._1nc7 ._5w1r:after, ._1nc7 ._5w1r:before {
margin-right: 1px !important;
width: 7px !important;
}

._5ys_:after {
background: 0 0 !important;
}

._1nc7 ._5w1r:after {
transform: scaleX(-1) !important;
}

._56ox .fbNubButton ._3a-4, ._5q5b .fbNubButton ._ggq._5qth ._5vmb, ._8ms ._552h, ._8ms ._552n ._3s0d, ._8ms ._552n ._4vui, .fbNubFlyoutFooter ._552h {
border: transparent !important;
box-shadow: none !important;
}

._50mz .fbNubFlyoutFooter {
box-shadow: 0 -1px 2px #111 !important;
}

._1miz {
background-color: #252525 !important;
border-color: #333 !important;
}

._1mj1 {
border-bottom: 2px solid #ccc !important;
margin-left: 22px !important;
margin-right: 40px !important;
}

._1mj4 ._1miz {
background-color: #666 !important;
border-color: #666 !important;
}

.wmMasterView:after {
width: 0 !important;
}

._k- {
margin-top: 1px !important;
}

.fbPhotosPhotoTagboxBase .innerTagBox {
border: 4px solid #333 !important;
}

.fbPhotosPhotoTagboxBase .tagName {
background: #333 !important;
}

._513x, ._5y5a ._5h12 > span::after, a._2l5g::after, i._5cmh {
background: #666 !important;
border-top: 2px solid #666 !important;
height: 2px !important;
width: 55px !important;
margin-left: -27px !important;
}

._4fn6 ._s0._2dpc._rw.img, .fbxWelcomeBoxBlock .fbxWelcomeBoxImg {
border: 0 !important;
border-radius: 3px !important;
transform: scale(1) !important;
transition: all .4s !important;
-webkit-transition: all .4s !important;
}

._2dpe::after, ._2dpe:hover::after {
background: 0 0 !important;
}

.UFICommentPhotoIcon {
background-image: url(http://img11.hostingpics.net/pics/95573615133642086fb5fb5c458o.png) !important;
background-position: 0 0 !important;
}

.UFICommentPhotoIcon:hover {
background-position: 0 -12px !important;
}

._1cr_, ._52d9 {
background: rgba(0,0,0,.6) !important;
}

._52db {
color: #ddd !important;
}

._5lus a {
opacity: .6 !important;
transition: all .5s;
}

._e_x, ._e_z {
box-sizing: border-box;
transition: all .3s cubic-bezier(.1,.7,.1,1) 0s;
}

._5lus a:active, ._5lus a:focus, ._5lus a:hover {
opacity: 1 !important;
}

._2jq5 {
background-position: -478px -242px !important;
}

.hasLeftCol ._5r-_.homeWiderContent div#contentArea, html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
margin-right: -1px !important;
margin-left: -1px !important;
}

.GM_options_wrapper_inner, .bfb_tabs > .bfb_tab_selected {
background: #282828 !important;
}

.bfb_tabs > .bfb_tab_selected:hover {
background: #333 !important;
}

.bfb_tabs > .bfb_tab_selected {
border-color: #444 !important;
}

._2c44 ._2f6b {
background: linear-gradient(#000,#000) !important;
border: 1px solid rgba(0,0,0,.7) !important;
border-top-color: rgba(255,255,255,.1) !important;
box-shadow: 0 0 5px rgba(0,0,0,1) !important;
}

._e_z {
background: #FFF !important;
border-radius: 6px;
height: 12px;
left: 20px;
position: absolute;
top: 2px;
width: 12px;
}

._e_x {
background-color: #333 !important;
border-radius: 8px;
cursor: pointer;
height: 16px;
overflow: hidden;
position: relative;
-moz-user-select: none;
width: 34px;
}

#fbPhotoSnowliftMediaTitle .fbPhotoMediaTitle a, ._1drq, ._3-_a span, ._3-_v span, ._4i5p._3htz, ._50f3, ._51i5 ._5l1x span, ._58gh div._58gj, ._58gi span, ._5a5k span, ._5a5l span, ._5aqf, ._5b_0 ._6n9, ._5b_0 .fsxxl, ._5v1l a, ._6lh ._6lp ._6lo, ._6lh ._6lp a, ._8_2 span, .ellipsis, .fbAggregatedMapPinText, .groupHugFaceTip, .name, .pageByline, .pageByline li, .uiIconText {
color: #fff !important;
text-shadow: 0 0 5px #000,0 0 2px #000 !important;
}

._3-_v {
border: 1px solid #eee !important;
}

._38le, ._38lf, ._4eq5, ._4eq6 {
color: #eee !important;
}

.fbFeedTicker .fbFeedTickerStory a:hover, .pam .fsm {
text-shadow: 0 0 2px #000 !important;
}

#contentCurve {
border-bottom: 1px solid #333 !important;
}

._1ui8 {
width: auto !important;
}

.UFIAddCommentWithPhotoAttacher .innerWrap, .UFIStickersEnabledInput .innerWrap {
border: none !important;
}

._4eq2, ._mxp ._18im {
background: rgba(0,0,0,.65) !important;
padding: 5px !important;
border: 2px solid rgba(255,255,255,.7) !important;
box-shadow: 0 0 4px #000 !important;
border-radius: 3px !important;
}

._yn1 ._394m a {
margin-top: -4px !important;
}

._12-g .fbEigenpollFacepile .fbQuestionFacepileMoreItem, ._g2z, .pollOptions .fbQuestionsPollResultsBar, .pollOptions .pollResultsFacepile .fbQuestionFacepileMoreItem {
background-image: url(http://img15.hostingpics.net/pics/606548triangles.png) !important;
background-repeat: repeat !important;
background-color: rgba(0,0,0,.15) !important;
border: 1px solid #111 !important;
border-bottom: 1px solid rgba(255,255,255,.16) !important;
box-shadow: inset 0 0 3px 0 #111 !important;
}

._g2z .shaded, .pollOptions .shaded {
background: #333 !important;
}

._g2z .fbQuestionsPollClickTarget:hover, .pollOptions .fbQuestionsPollClickTarget:hover {
border: 1px solid #555 !important;
}

.profileApprovalRow ._4-u8 {
background: #000 !important;
border: 1px solid rgba(0,0,0,.7) !important;
border-top-color: rgba(255,255,255,.12) !important;
border-radius: 3px !important;
box-shadow: 0 0 4px #000 !important;
}

._416u ._5q9i, .gecko ._416u ._5q9i {
background-image: none !important;
box-shadow: none !important;
}

._50-0._50z-:hover {
transition: none !important;
-webkit-transition: none !important;
box-shadow: none !important;
background-color: transparent !important;
}

._3-ma._2bnd, ._3-ma._2bne {
color: #000 !important;
text-shadow: none !important;
font-weight: 700 !important;
}

._bla {
color: #ddd !important;
}

._5pcm, ._5vsj.UFIContainer .UFIReplyList ._4oep, ._5vsj.UFIContainer .UFIReplyList ._4oep._2o9m::after, ._5vsj.UFIContainer .UFIReplyList ._4oep._4204::after {
border-left: 2px solid #444 !important;
margin-left: 0 !important;
border-radius: 0 !important;
}

._5vsj.UFIContainer .UFIReplyList ._4oep._2o9m::after, ._5vsj.UFIContainer .UFIReplyList ._4oep._4204::after {
left: -2px !important;
}

._4bl9 {
padding-left: 12px !important;
}

._2gyk #u_0_i {
border: transparent !important;
}

._5a5k {
background-color: rgba(0,0,0,.25) !important;
border: 2px solid #fff !important;
border-radius: 5px !important;
}

._2yu9, ._2yua {
background-color: #fff !important;
}

._2yu7, ._voo {
background-color: #666 !important;
}

._1c7d, ._28h1, ._38a2:hover ._2yv, ._3pao {
background-color: rgba(0,0,0,.7) !important;
border: 1px solid #eee !important;
}

._3paq {
background-color: #666 !important;
box-shadow: 0 0 1px #000 !important;
}

._3par, ._3pas {
background-color: #fff !important;
}

._4d3w .stageWrapper {
background: #000 !important;
}

._1c7d button, ._1c7d button:hover {
background: 0 0 !important;
box-shadow: none !important;
}

._1c7d button {
opacity: .8 !important;
}

._1c7d button:hover {
opacity: 1 !important;
}

._1ec span, ._24wr, ._25e2, ._2yu, ._35sk ._35si, ._35sk ._35sj, ._35sk ._53bl, ._4ctq ._4cts, ._4ctq div, ._4irg, ._4irh, ._4v8x, ._5qsq span, ._5rl2, ._5ugg, ._5vb_ .uiSideNav .selectedItem .item .linkWrap {
color: #fff !important;
text-shadow: 0 0 2px #000 !important;
}

.fbTimelineUnit ._1zw4 ._1zw6 ._50f3, li._1zw6 ._42ef ._50f3 {
color: #999 !important;
}

._28h1 a:hover, ::selection, li._1zw6 ._42ef ._50f3, li._1zw6 ._42ef ._50f3 a {
text-shadow: none !important;
}

._1ec, ._35sk, ._4irh {
background-color: rgba(0,0,0,.4) !important;
}

._24wr {
width: 90% !important;
text-align: center !important;
padding-bottom: 2px !important;
padding-top: 1px !important;
margin-bottom: -2px !important;
border-radius: 0 !important;
background-color: rgba(0,0,0,.65) !important;
}

._35sk._tbz ._2le_ {
bottom: 20px !important;
left: 2px !important;
}

._5fvj ._2apb {
border: 4px solid #fff !important;
border-radius: 50% !important;
background-color: rgba(20,22,26,.3) !important;
transition: background-color .3s cubic-bezier(.23,1,.32,1) 0s;
-webkit-transition: background-color .3s cubic-bezier(.23,1,.32,1) 0s;
}

._2u7 {
background-color: #030303 !important;
}

._4lqu {
background-color: transparent !important;
background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/yt/r/ag-Kz-WMvnK.png) !important;
background-repeat: repeat-x !important;
transition: all .3s cubic-bezier(.23,1,.32,1) 0s !important;
}

._4ctp._3htz {
background-color: rgba(20,22,26,.7) !important;
}

._2mbh button, ._2mbh button:hover {
background: 0 0 !important;
box-shadow: none !important;
}

._4v8w {
background-color: rgba(255,255,255,.5) !important;
}

._i5q ._2-mo, ._i5q ._gn5 {
background-color: #fff !important;
box-shadow: 0 0 2px #000 !important;
}

._i5q ._2-mm, ._i5q ._gn2, ._i5q ._gn3 {
background-color: rgba(255,255,255,.3) !important;
}

._gn4, ._i5q ._2-mn, ._i5q ._2-mp {
background-color: #fff !important;
}

._24wt {
box-shadow: 0 0 1px #111 !important;
}

.contentAfter .uiScrollableAreaTrack:hover, .contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, .contentBefore .uiScrollableAreaTrack:hover, .contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, .uiScrollableAreaDragging .uiScrollableAreaTrack {
background-color: #111 !important;
border-radius: 10px;
width: 10px;
}

.fbScrollableAreaGripper, .uiScrollableAreaGripper {
background-clip: content-box;
background-color: #333 !important;
position: absolute;
}

.uiScrollableAreaGripper {
border: 1px solid #444 !important;
border-radius: 6px;
right: 0;
width: 5px;
}

.fbScrollableAreaGripper {
border: 1px solid #444 !important;
border-radius: 6px;
height: 5px;
}

._2iwq {
animation-duration: 2s;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-name: placeHolderShimmer;
animation-timing-function: ease;
background: linear-gradient(to right,#000 0,#333 20%,#000 100%) 0 0/800px 104px no-repeat #000;
height: 104px;
position: relative;
opacity: 1 !important;
}

._2iwq div, ._3y89 ._4jy0 {
background: #000 !important;
}

#fbTimelineHeadline .actionsDropdown .FriendButton, #pagesManagerTipLHSBoostedPageLike .uiHeaderSection, #timeline_info_review_unit ._4-u8, ._1eds .uiPopoverButton, ._26y3 #u_0_i, ._2smp ._2mi4, ._36bx._143o, ._4dv- textarea, ._4lh .fbTimelineUnit[data-type="r"], ._5ay5 ._36bx, ._5v3q ._47we, ._5va1, ._6a, ._7uh .uiHeaderNav, ._7uh .uiHeaderTopBorder, .fbTimelineUFI, .fbTimelineUnit, .fbTimelineUnit.fbTimelineTwoColumn .timelineUnitContainer.fbTimelineComposerUnit, .groupSkyAux ._4-u2 {
box-shadow: none !important;
background: 0 0 !important;
border: none !important;
}

._5pcp._4l4 .UFILikeLink.UFILinkBright, ._a7s a.UFILinkBright {
opacity: .5 !important;
}

._5pcp._4l4 .UFILikeLink.UFILinkBright:hover, ._a7s a.UFILinkBright:hover {
opacity: 1 !important;
}

.emptyStar {
opacity: .2 !important;
}

::-moz-selection {
background: #ccc !important;
color: #000 !important;
text-shadow: none !important;
}

::selection {
background: #ccc !important;
color: #000 !important;
}

.fbCalendarGrid .fbCalendarDayItem {
border-top-color: #333 !important;
}

.fbCalendarGrid .fbCalendarGridCell.fbCalendarGridToday .fbCalendarDayItem {
background: #000 !important;
border: 1px solid #333 !important;
border-bottom-color: #333 !important;
border-radius: 3px !important;
box-shadow: 0 0 3px #000 inset !important;
}

.fbCalendarGrid .fbCalendarGridCell .fbCalendarDayItem:hover {
background: #252525 !important;
box-shadow: 0 0 3px #151515 !important;
}

.fbCalendarGridRoot .fbCalendarBox {
border: 1px solid rgba(0,0,0,.7) !important;
border-top-color: rgba(255,255,255,.12) !important;
border-radius: 3px !important;
box-shadow: 0 0 4px #000 !important;
background: #000 !important;
}

.fbCalendarGridRoot #fbCalendarWrapper {
background: 0 0 !important;
}

.gtx-bubble, .jfk-bubble {
background-color: #fff !important;
border-radius: 3px !important;
box-shadow: 0 0 5px #000 !important;
}

/*FIX*/
#header, .flyout {
background-color: #000 !important;
}
/*fixed bar background*/
    ._59tg {
background: rgb(90, 41, 41) !important;
}
/*text of post button*/
._56bs ._55sr {
color: white !important;
}
/*emoticon button*/
._5ecn._1n29 {
background: rgba(147, 147, 147, 0.18) none repeat scroll 0% 0% !important;
}
/*comment button*/
._54k8._56bs._3lmf._56bt {
background: rgba(147, 147, 147, 0.37) none repeat scroll 0% 0% !important;
}