<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.rignanese.leo.slimfacebook"
    android:installLocation="auto">
    <!-- PERMISSIONS -->


    <!-- to connect to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- to check if there is connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- to allow to save photos -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- to share pictures -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- to force the use of simplechromecustomtabs that has the min sdk 16 -->
    <uses-sdk tools:overrideLibrary="com.novoda.simplechromecustomtabs" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:label="@string/actionbar_name"
            android:launchMode="singleTask"> <!-- this to fix "Webview is Vulnerable to Cross app" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- compatibility to samsung multiwindows -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>

                <!-- to start app when facebook site is called -->
                <action android:name="android.intent.action.VIEW" />

                <!-- to open facebook link with this app -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="m.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="m.fb.com"
                    android:scheme="http" />
                <data
                    android:host="m.fb.com"
                    android:scheme="https" />
                <data
                    android:host="touch.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="touch.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="touch.fb.com"
                    android:scheme="http" />
                <data
                    android:host="touch.fb.com"
                    android:scheme="https" />
                <data
                    android:host="facebook.com"
                    android:scheme="http" />
                <data
                    android:host="facebook.com"
                    android:scheme="https" />
                <data
                    android:host="h.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="fb.me"
                    android:scheme="http" />
                <data
                    android:host="fb.me"
                    android:scheme="https" />
                <data
                    android:host="fb.com"
                    android:scheme="http" />
                <data
                    android:host="fb.com"
                    android:scheme="https" />
                <data
                    android:host="www.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="www.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="www.fb.com"
                    android:scheme="http" />
                <data
                    android:host="www.fb.com"
                    android:scheme="https" />
                <data
                    android:host="apps.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="apps.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="apps.fb.com"
                    android:scheme="http" />
                <data
                    android:host="apps.fb.com"
                    android:scheme="https" />
                <data
                    android:host="messenger.com"
                    android:scheme="http" />
                <data
                    android:host="messenger.com"
                    android:scheme="https" />
                <data
                    android:host="www.messenger.com"
                    android:scheme="http" />
                <data
                    android:host="www.messenger.com"
                    android:scheme="https" />
                <data
                    android:host="m.me"
                    android:scheme="http" />
                <data
                    android:host="m.me"
                    android:scheme="https" />
                <data
                    android:host="www.m.me"
                    android:scheme="http" />
                <data
                    android:host="www.m.me"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <!-- to open facebook link for sharing link -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- to fix "Webview is Vulnerable to Cross app" -->
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>

        <!-- picture activity -->
        <activity
            android:name=".PictureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label=""
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- settings activity -->
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- credits activity -->
        <activity
            android:name=".settings.CreditsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/credits"
            android:parentActivityName=".settings.SettingsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>

        <!-- uses the Multi Window library -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <!-- to indicate your application is Multi Window compatible -->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <!-- set the size of the window -->
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />
    </application>

</manifest>
