<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.rignanese.leo.slimfacebook">

    <!-- PERMISSIONS -->


    <!-- to connect to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- to upload files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/actionbar_name"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter> <!--compatibility to samsung multiwindows-->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!--to start app when facebook site is called-->
                <action android:name="android.intent.action.VIEW" />

                <!--to open facebook link with this app-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="*.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="fb.me"
                    android:scheme="http" />
                <data
                    android:host="fb.me"
                    android:scheme="https" />

            </intent-filter>

            <intent-filter>
                <!--to open facebook link for sharing link-->
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!--settings activity-->
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/settings">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--credits activity-->
        <activity
            android:name=".settings.CreditsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/credits">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- uses the Multi Window library -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>

        <!--to indicate your application is Multi Window compatible-->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <!--set the size of the window-->
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />
    </application>

</manifest>